<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhizuqiu.demo.mapper.PackMapper">

    <select id="list" resultType="hashmap">
        select * from pack
    </select>

    <update id="update" parameterType="com.zhizuqiu.demo.entity.Pack">
        update pack set goalName = #{goalName} where id = #{id}
    </update>

    <delete id="delete" parameterType="com.zhizuqiu.demo.entity.Pack">
        delete from pack where id = #{id}
    </delete>

</mapper>